@import "tailwindcss";

body {
  background-color: #0b1220;
  color: #ffffff;
}

.editor-btn {
  @apply px-3 py-1 rounded hover:bg-gray-100 text-sm font-medium;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #9ca3af; /* gray-400 */
  pointer-events: none;
  height: 0;
}
